// Grid Auto Columns
// 用于控制隐式创建的网格列的大小的功能类。
.auto-cols-auto
  grid-auto-columns auto

.auto-cols-min
  grid-auto-columns min-content

.auto-cols-max
  grid-auto-columns max-content

.auto-cols-fr
  grid-auto-columns minmax(0, 1fr)
