.margin-x-0
  margin-left 0
  margin-right 0

.margin-x-xs
  margin-left .25rem
  margin-right .25rem

.margin-x-sm
  margin-left .5rem
  margin-right .5rem

.margin-x
  margin-left 1rem
  margin-right 1rem

.margin-x-lg
  margin-left 1.5rem
  margin-right 1.5rem

.margin-x-xl
  margin-left 2rem
  margin-right 2rem
