.margin-top-0
  margin-top 0

.margin-top-xs
  margin-top .25rem

.margin-top-sm
  margin-top .5rem

.margin-top
  margin-top 1rem

.margin-top-lg
  margin-top 1.5rem

.margin-top-xl
  margin-top 2rem
