.margin-left-0
  margin-left 0

.margin-left-xs
  margin-left .25rem

.margin-left-sm
  margin-left .5rem

.margin-left
  margin-left 1rem

.margin-left-lg
  margin-left 1.5rem

.margin-left-xl
  margin-left 2rem
