// 预设颜色值
:root
  // 墨黑
  --color-ui-black #333333
  // 海蓝
  --color-ui-blue #0081ff
  // 棕褐
  --color-ui-brown #a5673f
  // 天青
  --color-ui-cyan #1cbbb4
  // 草灰
  --color-ui-gray #aaaaaa
  // 森绿
  --color-ui-green #39b54a
  // 玄灰
  --color-ui-grey #8799a3
  // 木槿
  --color-ui-mauve #9c26b0
  // 橄榄
  --color-ui-olive #8dc63f
  // 桔橙
  --color-ui-orange #f37b1d
  // 桃粉
  --color-ui-pink #e03997
  // 姹紫
  --color-ui-purple #6739b6
  // 嫣红
  --color-ui-red #e54d42
  // 雅白
  --color-ui-white #ffffff
  // 明黄
  --color-ui-yellow #fbbd08
