// 预设颜色值
:root
  // 嫣红
  --color-ui-red:'#e54d42';
  // 桔橙
  --color-ui-orange:'#f37b1d';
  // 明黄
  --color-ui-yellow:'#fbbd08';
  // 橄榄
  --color-ui-olive:'#8dc63f';
  // 森绿
  --color-ui-green:'#39b54a';
  // 天青
  --color-ui-cyan:'#1cbbb4';
  // 海蓝
  --color-ui-blue:'#0081ff';
  // 姹紫
  --color-ui-purple:'#6739b6';
  // 木槿
  --color-ui-mauve:'#9c26b0';
  // 桃粉
  --color-ui-pink:'#e03997';
  // 棕褐
  --color-ui-brown:'#a5673f';
  // 玄灰
  --color-ui-grey:'#8799a3';
  // 草灰
  --color-ui-gray:'#aaaaaa';
  // 墨黑
  --color-ui-black:'#333333';
  // 雅白
  --color-ui-white:'#ffffff';

