// # 背景图像裁剪
// 用于控制元素背景的边界框的实用功能类。
.bg-clip-border
  background-clip border-box

.bg-clip-padding
  background-clip padding-box

.bg-clip-content
  background-clip content-box

.bg-clip-text
  background-clip text
