.background-image-shade-top
  background-image linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .01))
  color var(--color-ui-white)

.background-image-shade-tottom
  background-image linear-gradient(rgba(0, 0, 0, .01), rgba(0, 0, 0, 1))
  color var(--color-ui-white)

.background-image-gradual-red
  background-image linear-gradient(45deg, #f43f3b, #ec008c)
  color var(--color-ui-white)

.background-image-gradual-orange
  background-image linear-gradient(45deg, #ff9700, #ed1c24)
  color var(--color-ui-white)

.background-image-gradual-green
  background-image linear-gradient(45deg, #39b54a, #8dc63f)
  color var(--color-ui-white)

.background-image-gradual-purple
  background-image linear-gradient(45deg, #9000ff, #5e00ff)
  color var(--color-ui-white)

.background-image-gradual-pink
  background-image linear-gradient(45deg, #ec008c, #6739b6)
  color var(--color-ui-white)

.background-image-gradual-blue
  background-image linear-gradient(45deg, #0081ff, #1cbbb4)
  color var(--color-ui-white)
