// 背景颜色 - 嫣红
.background-color-red
  background-color var(--color-ui-red)
  color var(--color-ui-white)

// 背景颜色 - 桔橙
.background-color-orange
  background-color var(--color-ui-orange)
  color var(--color-ui-white)

// 背景颜色 - 明黄
.background-color-yellow
  background-color var(--color-ui-yellow)
  color var(--color-ui-white)

// 背景颜色 - 森绿
.background-color-olive
  background-color var(--color-ui-olive)
  color var(--color-ui-white)

// 背景颜色 - 天青
.background-color-green
  background-color var(--color-ui-olive)
  color var(--color-ui-white)

// 背景颜色 - 海蓝
.background-color-cyan
  background-color var(--color-ui-cyan)
  color var(--color-ui-white)

// 背景颜色 - 姹紫
.background-color-blue
  background-color var(--color-ui-blue)
  color var(--color-ui-white)

// 背景颜色 - 姹紫
.background-color-purple
  background-color var(--color-ui-purple)
  color var(--color-ui-white)

// 背景颜色 - 木槿
.background-color-mauve
  background-color var(--color-ui-mauve)
  color var(--color-ui-white)

// 背景颜色 - 桃粉
.background-color-pink
  background-color var(--color-ui-pink)
  color var(--color-ui-white)

// 背景颜色 - 棕褐
.background-color-brown
  background-color var(--color-ui-brown)
  color var(--color-ui-white)

// 背景颜色 - 玄灰
.background-color-grey
  background-color var(--color-ui-grey)
  color var(--color-ui-white)

// 背景颜色 - 草灰
.background-color-gray
  background-color #f0f0f0
  color #666666

// 背景颜色 - 墨黑
.background-color-black
  background-color var(--color-ui-black)
  color var(--color-ui-white)

// 背景颜色 - 雅白
.background-color-white
  background-color var(--color-ui-white)
  color #666666

.light
  &.background-color-red
    background-color #fadbd9
    color #e54d42

  &.background-color-orange
    background-color #fde6d2
    color #f37b1d

  &.background-color-yellow
    background-color #fef2ced2
    color #fbbd08

  &.background-color-olive
    background-color #e8f4d9
    color #8dc63f

  &.background-color-green
    background-color #d7f0dbff
    color #39b54a

  &.background-color-cyan
    background-color #d2f1f0
    color #1cbbb4

  &.background-color-blue
    background-color #cce6ff
    color #050505

  &.background-color-purple
    background-color #e1d7f0
    color #6739b6

  &.background-color-mauve
    background-color #ebd4ef
    color #9c26b0

  &.background-color-pink
    background-color #f9d7ea
    color #e03997

  &.background-color-brown
    background-color #ede1d9
    color #a5673f

  &.background-color-grey
    background-color #e7ebed
    color #8799a3



.background-color-1a1a1a
  background-color #1a1a1a
  color var(--color-ui-white)

.background-color-gdBlue
  background-color #2695fe
  color var(--color-ui-white)
