.padding-left-0
  padding-left 0

.padding-left-xs
  padding-left .25rem

.padding-left-sm
  padding-left .5rem

.padding-left
  padding-left 1rem

.padding-left-lg
  padding-left 1.5rem

.padding-left-xl
  padding-left 2rem
