.padding-x-0
  padding-left 0
  padding-right 0

.padding-x-xs
  padding-left .25rem
  padding-right .25rem

.padding-x-sm
  padding-left .5rem
  padding-right .5rem

.padding-x
  padding-left 1rem
  padding-right 1rem

.padding-x-lg
  padding-left 1.5rem
  padding-right 1.5rem

.padding-x-xl
  padding-left 2rem
  padding-right 2rem
