.padding-y-0
  padding-bottom 0
  padding-top 0

.padding-y-xs
  padding-bottom .25rem
  padding-top .25rem

.padding-y-sm
  padding-bottom .5rem
  padding-top .5rem

.padding-y
  padding-bottom 1rem
  padding-top 1rem

.padding-y-lg
  padding-bottom 1.5rem
  padding-top 1.5rem

.padding-y-xl
  padding-bottom 2rem
  padding-top 2rem
