.padding-top-0
  padding-top 0

.padding-top-xs
  padding-top .25rem

.padding-top-sm
  padding-top .5rem

.padding-top
  padding-top 1rem

.padding-top-lg
  padding-top 1.5rem

.padding-top-xl
  padding-top 2rem
