.padding-bottom-0
  padding-bottom 0

.padding-bottom-xs
  padding-bottom .25rem

.padding-bottom-sm
  padding-bottom .5rem

.padding-bottom
  padding-bottom 1rem

.padding-bottom-lg
  padding-bottom 1.5rem

.padding-bottom-xl
  padding-bottom 2rem
