.padding-right-0 {
  padding-right: 0;
}

.padding-right-xs {
  padding-right: .25rem;
}

.padding-right-sm {
  padding-right: .5rem;
}

.padding-right {
  padding-right: 1rem;
}

.padding-right-lg {
  padding-right: 1.5rem;
}

.padding-right-xl {
  padding-right: 2rem;
}
