// # 动画
//   使元素产生动画的CSS动画功能类。
.animate-none
  animation none

.animate-spin
  animation spin 1s linear infinite

@keyframes spin
  from
    transform rotate(0)

  to
    transform rotate(360deg)

.animate-ping
  animation ping 1s cubic-bezier(0, 0, .2, 1) infinite

@keyframes ping
  75%, 100%
    opacity 0
    transform scale(2)

.animate-pulse
  animation pulse 2s cubic-bezier(.4, 0, .6, 1) infinite

@keyframes pulse
  0%, 100%
    opacity 1

  50%
    opacity .5

.animate-bounce
  animation bounce 1s infinite

@keyframes bounce
  0%, 100%
    animation-timing-function cubic-bezier(.8, 0, 1, 1)
    transform translateY(-25%)

  50%
    animation-timing-function cubic-bezier(0, 0, .2, 1)
    transform translateY(0)
