// # 过渡属性
// 用于控制 CSS 过渡属性的功能类。
.transition-none
  transition-property none

.transition-all
  transition-duration 150ms
  transition-property all
  transition-timing-function cubic-bezier(.4, 0, .2, 1)

.transition
  transition-duration 150ms
  transition-property background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter
  transition-timing-function cubic-bezier(.4, 0, .2, 1)

.transition-colors
  transition-duration 150ms
  transition-property background-color, border-color, color, fill, stroke
  transition-timing-function cubic-bezier(.4, 0, .2, 1)

.transition-opacity
  transition-duration 150ms
  transition-property opacity
  transition-timing-function cubic-bezier(.4, 0, .2, 1)

.transition-shadow
  transition-duration 150ms
  transition-property box-shadow
  transition-timing-function cubic-bezier(.4, 0, .2, 1)

.transition-transform
  transition-duration 150ms
  transition-property transform
  transition-timing-function cubic-bezier(.4, 0, .2, 1)
