// 光标效果
// 当鼠标悬停在一个元素上时，用于控制光标样式的功能类。
.cursor-auto
  cursor auto

.cursor-default
  cursor default

.cursor-pointer
  cursor pointer

.cursor-wait
  cursor wait

.cursor-text
  cursor text

.cursor-move
  cursor move

.cursor-help
  cursor help

.cursor-not-allowed
  cursor not-allowed
